<%- include('partials/top.ejs') %>
<div class="container">
<h1>This is HMS (Hotel management system) </h1>
<h3>Welcome</h3>
<a class="btn btn-primary" href="/booking">booking And Cancellation</a>
</div>
<%- include('partials/bottom.ejs') %>