<%- include('partials/top.ejs') %>

<div class="container">
    <h2>This is query section</h2>
    <h3>Queries Available are</h3>
    <ul>
        <li>
            <a href="/query/customerslist">List of all customers</a>
        </li>
        <li>
            <a href="/query/currentbookings">List of all current bookings</a>
        </li>
        <li>
            <a href="/query/bookingcustomer">List of all Bookings of a particular customer</a>
        </li>
        <li>
            <a href="/query/addroom">Add 1 more room to Hotel</a>
        </li>
        <li>
            <a href="/query/listrooms">List of all rooms</a>
        </li>
        <li>
            <a href="/query/bookingrecords">Booking Records</a>
        </li>
    </ul>
</div>      
<%- include('partials/bottom.ejs') %>